<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>JU PHDMS Examiner approval</title>
    <link rel="shortcut icon" type="image/jpg" href="images/ju_logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <img src="/images/header.png" style="width:100%;height:auto;opacity: 0.9;">
    <div class="logOutClass">
        <div></div>
        <a href="/changePassword">Change Password &#128273;</a>
        <a href="/logout">Log Out <span class='fa'>&#xf011;</span></a>
    </div>
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('dcMenu.ejs', {active: 6}) %>
        <% if(results.length == 0) { %>
            <p style="text-align:center;width:80%;">No Approval list</p>
        <% } else { %>
            <form class="list" name="lists">
            <% results.forEach(function(result, index) { %>
                <div class=<%= index%2 ? 'list345' : 'list456' %>>
                    <img src= <%= '/student_photo/' + result.photo_filename %> class="img-list">
                <div class="det1">
                    <div class="det3">
                        <p><b>Name: </b> <%= result.name %> </p>
                    </div>
                    <div class="det3">
                        <p><b>Department :</b> <%= result.dept_name + ' / ' + result.fac_id %> </p>
                    </div>
                    <div class="det3">
                        <p><b>Thesis title :</b> <%= result.thesis_title %> </p>
                    </div>
                    <div class="det3">
                        <p><a href=<%='/dc/examinersList?stud_id=' + result.stud_id%> >View examiners list</a></p>
                    </div>
                </div>
                </div>
            <%  }); %>
            </form>
        <% } %>
        </div>
    </div>
</body>

</html>
