<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>JU PHDMS Examiner List</title>
    <link rel="shortcut icon" type="image/jpg" href="images/ju_logo.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <img src="/images/header.png" style="width:100%;height:auto;opacity: 0.9;">
    <div class="logOutClass">
        <div></div>
        <a href="/changePassword">Change Password &#128273;</a>
        <a href="/logout">Log Out <span class='fa'>&#xf011;</span></a>
    </div>
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('dcMenu.ejs', {active: 6}) %>
        <% if(results.length == 0) { %>
            <p style="text-align:center;width:80%;">No Approval list</p>
        <% } else { %>
            <form class="list" name="lists"  action="/dc/examinerApproval/submit" method="POST">
                <% results.forEach(function(result, index) { %>
                    <% if(index == 0) { %>
                        <h2>Examiners Inside West Bengal</h2>
                    <% } else if(index == 3) { %>
                        <h2>Examiners Outside West Bengal</h2>
                    <% } else if(index == 6) { %> 
                        <h2>Examiners for Viva-Voce</h2>  
                    <% } else if(index == 8) {%> 
                        <h2>Examiners Outside India</h2>
                    <% }%>
                    <div class=<%= index%2 ? 'list1' : 'list2' %>>
                        <div class='det1'><%= result.Name %></div>
                        <div class='det1'><%= result.Designation %></div>
                        <div class='det1'><%= result.Email %></div>
                        <div class='det1'><%= result.Mobile %></div>
                        <div class='det1'><%= result.State %></div>
                    </div>
                <%  }); %>
                <div class='det2'><input type='submit' name=<%= results[0].Student_ID + '_accept' %> value='Approve' class='approve'><input type='submit' name=<%= results[0].Student_ID + '_reject' %> value='Discard' class='discard'></div>
            </form>
        <% } %>
        </div>
    </div>
</body>

</html>
