<div class="button-class">
    <a href="/dc/registrationApproval" class=<%= active == 1 ? "nactive" : "active"%>>Registration Approval</a>
    <a href="/dc/reportApproval" class=<%= active == 2 ? "nactive" : "active"%>>Six-month Report Approval</a>
    <a href="/dc/vivaReport" class=<%= active == 3 ? "nactive" : "active"%>>View Presubmission Viva Report</a>
    <a href="/dc/titleChange" class=<%= active == 4 ? "nactive" : "active"%>>Approve Title change</a>
    <a href="/dc/registrationExtension" class=<%= active == 5 ? "nactive" : "active"%>>Approve Extension of registration</a>
    <a href="/dc/examinerApproval" class=<%= active == 6 ? "nactive" : "active"%>>Approve Examiner list</a>
</div>
