<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('dcMenu.ejs', {active: 4}) %>
        <% if(results.length == 0) { %>
            <p style="text-align:center;width:80%;">No Approval list</p>
        <% } else { %>
            <form class="list" name="lists" action="/dcTitleChangeSubmit" method="POST">
            <% results.forEach(function(result, index) { %>
                <div class=<%= index%2 ? 'list345' : 'list456' %>>
                    <!-- <div class='det1'><%= result.name %></div>
                    <div class='det1'><%= result.thesis_title %></div>
                    <div class='det1'><%= result.new_title %></div>
                    <div class='det2'><input type='submit' name=<%= result.stud_id + '_accept' %> value='Approve' class='approve'><input type='submit' name=<%= result.stud_id + '_reject' %> value='Discard' class='discard'></div> -->    
                    <img src= <%= 'student_photo/' + result.photo_filename %> class="img-list">
                    <div class="det1">
                        <div class="det3">
                            <p><b>Name: </b><%= result.name %></p>    
                        </div>
                        <div class="det3">
                            <p><b>Department: </b><%= result.dept_name + ' / ' + result.fac_id %></p>
                        </div>
                        <div class="det3">
                            <p><b>Old Thesis Title:</b><%= result.thesis_title %></p>
                        </div>
                        <div class="det3">
                            <p><b>New Thesis Title:</b><%= result.new_title %></p>
                        </div>
                    </div>
                    <div class='det2'><input type='submit' name=<%= result.stud_id + '_accept' %> value='Approve' class='approve'><input type='submit' name=<%= result.stud_id + '_reject' %> value='Discard' class='discard'></div>

                </div>
            <%  }); %>
            </form>
        <% } %>
    </div>
</body>

</html>