<div class="button-class">
    <a href="/prcRegistrationApproval" class=<%= active == 1 ? "nactive" : "active"%>>Registration Approval</a>
    <a href="/prcReportApproval" class=<%= active == 2 ? "nactive" : "active"%>>Six-month Report Approval</a>
    <a href="/prcVivaReport" class=<%= active == 3 ? "nactive" : "active"%>>Submit Viva Report</a>
    <a href="/prcTitleChange" class=<%= active == 4 ? "nactive" : "active"%>>Request Title change</a>
    <a href="/prcRegistrationExtension" class=<%= active == 5 ? "nactive" : "active"%>>Request Extension of registration</a>
</div>
