<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('prcMenu.ejs', {active: 2}) %>
        <% if(results.length == 0) { %>
            <p style="width:80%;text-align:center;">No Approval list</p>
        <% } else { %>
            <form class="list" name="lists" action="/prcReportApprovalSubmit" method="POST">
            <% results.forEach(function(result, index) { %>
                <div class=<%= (index%2) ? 'list345' : 'list456' %>>
                <div class=<%= (index%2) ? 'list1' : 'list2' %>>
                    <div class='det1'><%= result.name %></div>
                    <div class='det1'><%= result.semester %></div>
                    <div class='det1'><a href=<%='/downloadReport?stud_id=' + result.stud_id + '&semester=' + result.semester%> >View Six Month Report</a></div>
                    <div class='det2'><input type='submit' name=<%= result.file_name + '_accept' %> value='Approve &#x2714;' class='approve'><input type='submit' name=<%= result.file_name + '_reject' %> value='Discard &#x2716;' class='discard'></div> 

                </div>

                    <div class='det1'><b>Thesis Title: &nbsp;</b><%= result.thesis_title %></div>
            </div>
            <%  }); %>
            </form>
        <% } %>
        </div>
    </div>
</body>

</html>