<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('prcMenu.ejs', {active: 5}) %>
        <form method="POST" action="/prcRegistrationExtensionSubmit" class="form-class">
            <div class="dets1">
                <label for="stud_id">Student Name:</label>
                <select name="stud_id" id="student">
                    <% results.forEach(function(result) { %>
                        <option 
                            value = <%= result.stud_id %> 
                            data-doa = <%= result.date_of_admission.toISOString().replace(/T/, ' ').split(" ")[0] %> 
                            data-validity = <%= result.registration_validity %> 
                        >
                            <%= result.name + '(' + result.stud_id + ')' %>
                        </option>
                    <% }); %>
                </select>
            </div>
            <div class="dets1">
                <label for="doa">Date of admission:</label>
                <input name="doa" id="doa" readonly>
            </div>
            <div class="dets1">
                <label for="validity">Registration validity:</label>
                <input name="validity" id="validity" readonly>
            </div>
            <div class="dets2">
                <input type="submit" name="submit" value="Submit request">
            </div>
        </form>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $('#doa').val($("#student option:selected").data("doa"));
        $('#validity').val($("#student option:selected").data("validity"));

        $('#student').on('change', function() {
            $('#doa').val($("#student option:selected").data("doa"));
            $('#validity').val($("#student option:selected").data("validity"));
        });
    });    
</script>

</html>