<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/prcs.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <img src="images/header.png" style="width:100%;height:auto;position:fixed;top:0; z-index: 0;opacity: 0.9;">
    <div class="main-content">        
        <%- include('../commons/header.ejs', {name: name}) %>
        <div class="menu-class">
        <%- include('prcMenu.ejs', {active: 1}) %>
        <% if(results.length == 0) { %>
            <p style="text-align:center;width:80%;">No Approval list</p>
        <% } else { %>
            <form class="list" name="lists" action="/prcRegistrationApprovalSubmit" method="POST">
            <% results.forEach(function(result,index) { %>
                <!-- <div class=<%= index%2 ? 'list345' : 'list456' %>>
                <div class=<%= index%2 ? 'list1' : 'list2' %>>

                    <div class='det1'><%= result.name %></div>
                    <div class='det1'><%= result.nationality %></div>
                    <div class='det1'><%= result.dob %></div>
                    <div class='det1'><%= result.sex %></div>
                    
                    <div class='det1'><a href= <%='/downloadPDF?stud_id=' + result.stud_id%> >Check Form</a></div>
                    <div class='det2'><input type='submit' name=<%= result.stud_id + '_accept' %> value='Approve &#x2714;' class='approve'><input type='submit' name=<%= result.stud_id + '_reject' %> value='Discard &#x2716;' class='discard'></div>    
                </div>
                <div class='det1'><b>Thesis Title: &nbsp;</b><%= result.thesis_title %></div>
            </div> -->
            <div class="list345">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/The_President%2C_Shri_Pranab_Mukherjee_presenting_the_Padma_Shri_Award_to_Shri_Virat_Kohli%2C_at_a_Civil_Investiture_Ceremony%2C_at_Rashtrapati_Bhavan%2C_in_New_Delhi_on_March_30%2C_2017_%28cropped%29.jpg/260px-thumbnail.jpg" class="img-list">
                <div class="det1">
                    <div class="det3">
                        <p><b>Name: </b><%= result.name %></p>
                        
                    </div>
                    <div class="det3">
                        <p><b>Department: </b><%= result.nationality %></p>
                    </div>
                    <div class="det3">
                        <p><b>Thesis Title:</b><%= result.thesis_title %></p>
                    </div>
                    <div class="det3">
                        <p><a href= <%='/downloadPDF?stud_id=' + result.stud_id%> >Check Form</a></p>
                    </div>
                </div>
                <div class='det2'><input type='submit' name=<%= result.stud_id + '_accept' %> value='Approve &#x2714;' class='approve'><input type='submit' name=<%= result.stud_id + '_reject' %> value='Discard &#x2716;' class='discard'></div> 
            </div>

            <%  }); %>
            </form>
        <% } %>
        </div>
    </div>
</body>

</html>
