<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://localhost:8000/css/applicationPDF.css">
        <title>Student details</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <div class="registration-form">
                    <img src="<%=data.stud_id%>" class="student_photo">
                    <p >I HEREBY APPLY FOR REGISTRATION AS A PH.D STUDENT FOR THE DEGREE OF DOCTOR OF
                        PHILOSOPHY IN 
                        <span>
                            <%=data.fac_name%>
                        </span>
                        OF JADAVPUR UNIVERSITY IN THE DEPARTMENT OF 
                        <span>
                            <%=data.dep_name%>
                        </span>
                        AND SUBMIT BELOW THE REQUISITE DETAILS, IF ACCEPTED I SHALL ABIDE 
                        BY THE RULES AND REGULATIONS OF THE UNIVERSITY. PARTICULARS GIVEN BELOW ARE TRUE AND CORRECT TO THE BEST OF MY KNOWLEDGE AND BELIEF.
                    </p>
                    
                    <br>
                    <ol>
                    <li>
                        NAME(ACCORDING TO SCHOOL LEAVING CERTIFICATE): <span><%=data.student_name%></span> 
                    </li>
                    <li>
                        DATE OF BIRTH: <span><%=data.dob%></span><br>
                        SEX: <span><%=data.sex%></span><br>
                        MARITAL STATUS: <span><%=data.marital_status%></span>
                    </li>
                    <li>
                        FATHER'S NAME/MOTHER'S NAME: <span><%=data.parent_name%></span>
                    </li>
                    <li>
                        CATEGORY: <span><%=data.category%></span>
                    </li>
                    <li>
                        NATIONALITY: <span><%=data.nationality%></span>
                    </li>
                    <li>
                        PERMANENT ADDRESS:<br>
                        <span><%=data.address1%></span>
                    </li>
                    <li>
                        ADDRESS FOR COMMUNICATION:<br>
                        <span><%=data.address2%></span> <br>
                        MOBILE NUMBER: <span><%=data.mobile_no%></span><br>
                        PHONE NUMBER: <span><%=data.phone_no%></span><br>
                        EMAIL: <span><%=data.student_email%></span>
                    </li>
                    
                    <li>
                        <p>PARTICULARS OF ACADEMIC CAREER</p>
                        <table>
                            <tr class="header-row">
                                <th>Name of the Examination</th>
                                <th>Examination passed</th>
                                <th>Name of Institution/University</th>
                                <th>Major discipline</th>
                                <th>Year of passing</th>
                                <th>Total marks obtained</th>
                                <th>%(Marks/CGPA)</th>
                            </tr>
                            
                            <tr class="table-row">
                                <td><label>Madhyamik or Equivalent</label></td>
                                <td><%=data.acad00%></td>
                                <td><%=data.acad01%></td>
                                <td><%=data.acad02%></td>
                                <td><%=data.acad03%></td>
                                <td><%=data.acad04%></td>
                                <td><%=data.acad05%></td>
                            </tr>
                            
                            <tr class="table-row">
                                <td><label>Higher secondary or Equivalent</label></td>
                                <td><%=data.acad10%></td>
                                <td><%=data.acad11%></td>
                                <td><%=data.acad12%></td>
                                <td><%=data.acad13%></td>
                                <td><%=data.acad14%></td>
                                <td><%=data.acad15%></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>Bachelor degree</label></td>
                                <td><%=data.acad20%></td>
                                <td><%=data.acad21%></td>
                                <td><%=data.acad22%></td>
                                <td><%=data.acad23%></td>
                                <td><%=data.acad24%></td>
                                <td><%=data.acad25%></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>Master degree</label></td>
                                <td><%=data.acad30%></td>
                                <td><%=data.acad31%></td>
                                <td><%=data.acad32%></td>
                                <td><%=data.acad33%></td>
                                <td><%=data.acad34%></td>
                                <td><%=data.acad35%></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>Post master degree</label></td>
                                <td><%=data.acad40%></td>
                                <td><%=data.acad41%></td>
                                <td><%=data.acad42%></td>
                                <td><%=data.acad43%></td>
                                <td><%=data.acad44%></td>
                                <td><%=data.acad45%></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>M.Phil(Two year regular course)</label></td>
                                <td><%=data.acad50%></td>
                                <td><%=data.acad51%></td>
                                <td><%=data.acad52%></td>
                                <td><%=data.acad53%></td>
                                <td><%=data.acad54%></td>
                                <td><%=data.acad55%></td>
                            </tr>
                            
                        </table>
                    </li>
                    <li>
                        WHETHER QUALIFIED FOR NET/SET/GATE/ANY OTHER EQUIVALENT EXAMINATION: <span><%=data.qualified%></span>   
                    </li>
                    <li>
                        PRESENT EMPLOYMENT<br>
                        (A) NAME OF ORGANISATION:</br>
                        <span><%=data.org_name%></span><br>
                        (B) NATURE OF WORK:</br>
                        <span><%=data.nature_of_work%></span>
                    </li>
                    <li>
                        PROPOSED RESEARCH WORK<br>
                        (A) PROPOSED AREA/THEME OF RESEARCH:</br>
                        <span><%=data.title%></span><br>
                        (B) DEPARTMENT/SCHOOL/INSTITUTE WHERE THE PROPOSED RESEARCH WORK IS TO BE CARRIED ON WITH ADDRESS:</br>
                        <span><%=data.proposed_institute%></span>
                    </li>
                    <li>
                        NAME OF SUPERVISORS(RECOMMENDED BY PHD RESEARCH COMMITTEE)<br>
                        (1)NAME: <span><%=data.supervisor_name%></span><br>
                        DESIGNATION: <span><%=data.supervisor_designation%></span><br>
                        (2)NAME: <span><%=data.co_supervisor_id%></span><br>
                        DESIGNATION: <span><%=data.co_supervisor_designation%></span>
                    </li>
                    </ol>
            </form>
        </div>
    </body>
</html>