<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "<%= data.ROOT_URL + '/css/applicationPDF.css' %>" >
        <title>Student details</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <div class="student_photo">
                <img src="<%=data.photoPath%>">
            </div>
            <div class="registration-form">
                <p>I HEREBY APPLY FOR REGISTRATION AS A PH.D STUDENT FOR THE DEGREE OF DOCTOR OF
                    PHILOSOPHY IN 
                    <span>
                        <%=data.fac_name || 'NIL'%>
                    </span>
                    OF JADAVPUR UNIVERSITY IN THE DEPARTMENT OF 
                    <span>
                        <%=data.dep_name || 'NIL'%>
                    </span>
                    AND SUBMIT BELOW THE REQUISITE DETAILS, IF ACCEPTED I SHALL ABIDE 
                    BY THE RULES AND REGULATIONS OF THE UNIVERSITY. PARTICULARS GIVEN BELOW ARE TRUE AND CORRECT TO THE BEST OF MY KNOWLEDGE AND BELIEF.
                </p>
                <br><br>
                <ol>
                    <li>
                        NAME(ACCORDING TO SCHOOL LEAVING CERTIFICATE): <span><%=data.student_name || 'NIL'%></span> 
                    </li>
                    <li>
                        DATE OF BIRTH: <span><%=data.dob || 'NIL'%></span><br>
                        SEX: <span><%=data.sex || 'NIL'%></span><br>
                        MARITAL STATUS: <span><%=data.marital_status || 'NIL'%></span>
                    </li>
                    <li>
                        FATHER'S NAME/MOTHER'S NAME: <span><%=data.parent_name || 'NIL'%></span>
                    </li>
                    <li>
                        CATEGORY: <span><%=data.category || 'NIL'%></span>
                    </li>
                    <li>
                        NATIONALITY: <span><%=data.nationality || 'NIL'%></span>
                    </li>
                    <li>
                        PERMANENT ADDRESS:<br>
                        <span><%=data.address1 || 'NIL'%></span>
                    </li>
                    <li>
                        ADDRESS FOR COMMUNICATION:<br>
                        <span><%=data.address2 || 'NIL'%></span> <br>
                        MOBILE NUMBER: <span><%=data.mobile_no || 'NIL'%></span><br>
                        PHONE NUMBER: <span><%=data.phone_no || 'NIL'%></span><br>
                        EMAIL: <span><%=data.student_email || 'NIL'%></span>
                    </li>
                    <br><br>
                    <li>
                        <p>PARTICULARS OF ACADEMIC CAREER</p>
                        <table>
                            <tr class="header-row">
                                <th>Name of the Examination</th>
                                <th>Examination passed</th>
                                <th>Name of Institution/University</th>
                                <th>Major discipline</th>
                                <th>Year of passing</th>
                                <th>Total marks obtained</th>
                                <th>%(Marks/CGPA)</th>
                            </tr>
                            
                            <tr class="table-row">
                                <td><label>Madhyamik or Equivalent</label></td>
                                <td><span><%=data.acad00%></span></td>
                                <td><span><%=data.acad01%></span></td>
                                <td><span><%=data.acad02%></span></td>
                                <td><span><%=data.acad03%></span></td>
                                <td><span><%=data.acad04%></span></td>
                                <td><span><%=data.acad05%></span></td>
                            </tr>
                            
                            <tr class="table-row">
                                <td><label>Higher secondary or Equivalent</label></td>
                                <td><span><%=data.acad10%></span></td>
                                <td><span><%=data.acad11%></span></td>
                                <td><span><%=data.acad12%></span></td>
                                <td><span><%=data.acad13%></span></td>
                                <td><span><%=data.acad14%></span></td>
                                <td><span><%=data.acad15%></span></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>Bachelor degree</label></td>
                                <td><span><%=data.acad20%></span></td>
                                <td><span><%=data.acad21%></span></td>
                                <td><span><%=data.acad22%></span></td>
                                <td><span><%=data.acad23%></span></td>
                                <td><span><%=data.acad24%></span></td>
                                <td><span><%=data.acad25%></span></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>Master degree</label></td>
                                <td><span><%=data.acad30%></span></td>
                                <td><span><%=data.acad31%></span></td>
                                <td><span><%=data.acad32%></span></td>
                                <td><span><%=data.acad33%></span></td>
                                <td><span><%=data.acad34%></span></td>
                                <td><span><%=data.acad35%></span></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>Post master degree</label></td>
                                <td><span><%=data.acad40%></span></td>
                                <td><span><%=data.acad41%></span></td>
                                <td><span><%=data.acad42%></span></td>
                                <td><span><%=data.acad43%></span></td>
                                <td><span><%=data.acad44%></span></td>
                                <td><span><%=data.acad45%></span></td>
                            </tr>
                            <tr class="table-row">
                                <td><label>M.Phil(Two year regular course)</label></td>
                                <td><span><%=data.acad50%></span></td>
                                <td><span><%=data.acad51%></span></td>
                                <td><span><%=data.acad52%></span></td>
                                <td><span><%=data.acad53%></span></td>
                                <td><span><%=data.acad54%></span></td>
                                <td><span><%=data.acad55%></span></td>
                            </tr>
                            
                        </table>
                    </li>
                    <br><br>
                    <li>
                        WHETHER QUALIFIED FOR NET/SET/GATE/ANY OTHER EQUIVALENT EXAMINATION: <span><%=data.qualified || 'NIL'%></span>   
                    </li>
                    <li>
                        PRESENT EMPLOYMENT<br>
                        (A) NAME OF ORGANISATION:</br>
                        <span><%=data.org_name || 'NIL'%></span><br>
                        (B) NATURE OF WORK:</br>
                        <span><%=data.nature_of_work || 'NIL'%></span>
                    </li>
                    <li>
                        PROPOSED RESEARCH WORK<br>
                        (A) PROPOSED THESIS TITLE:</br>
                        <span><%=data.title || 'NIL'%></span><br>
                        (B) DEPARTMENT/SCHOOL/INSTITUTE WHERE THE PROPOSED RESEARCH WORK IS TO BE CARRIED ON WITH ADDRESS:</br>
                        <span><%=data.proposed_institute || 'NIL'%></span>
                    </li>
                    <li>
                        NAME OF SUPERVISORS(RECOMMENDED BY PHD RESEARCH COMMITTEE)<br>
                        (1)NAME: <span><%=data.supervisor_name || 'NIL'%></span><br>
                        DESIGNATION: <span><%=data.supervisor_designation || 'NIL'%></span><br>
                        (2)NAME: <span><%=data.co_supervisor_id || 'NIL'%></span><br>
                        DESIGNATION: <span><%=data.co_supervisor_designation || 'NIL'%></span>
                    </li>
                </ol>
                <br><br>
                <h4>Statement of Purpose, marksheets and qualifying certificate are attached below</h4>
            </div>
            
        </div>
    </body>
</html>